<div id="taleMetadataForm" class="ui form">
    <div class="inline fields ui grid">
        <label class="two wide column right aligned">Title</label>
        <div class="field thirteen wide column">
            {{input value=model.title placeholder="Enter a title..." readonly=cannotEditTale}}
        </div>
    </div>

    <div class="inline fields ui grid">
        <label class="two wide column right aligned">Authors</label>
    </div>
    {{#if taleAuthors}}
        {{#each taleAuthors as |author index|}}
        <div class="inline fields ui grid">
          <label class="two wide column right aligned"></label>
          <div class="field thirteen wide column" id="author-{{index}}">
            <div class="ui form">
              <div class="inline fields">
                <label>First Name:</label>
                  <div class="field">
                    {{input type="text" name='first-name' value=author.firstName placeholder="First Name" readonly=cannotEditTale }}
                  </div>
                <label>Last Name:</label>
                <div class="field">
                  {{input type="text" name='last-name' value=author.lastName placeholder="Last Name" readonly=cannotEditTale }}
                </div>
              <label>ORCID:</label>
              <div class="field">
                {{input type="url" name='orcid-id' placeholder="https://orcid.org/0000-0002-1825-0097"  value=author.orcid readonly=cannotEditTale }}
              </div>
              <i class="fa fa-window-close" aria-hidden="true" {{action 'removeAuthor' index}}></i>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    {{else}}
      <div style="text-align:center">
        <h4>Created by <span style="color: #67c096">{{tale-authors-to-str taleAuthors model.creator}}</span></h4>
      </div>
    {{/if}}
      
    <div class="inline fields ui grid">
        <label class="two wide column right aligned"></label>
        <div class="field thirteen wide column add-author">
            <i class="fas fa-plus add-author-icon" {{action 'addNewAuthor'}}></i>
            <span {{action 'addNewAuthor'}}>&nbsp;Add an{{if taleAuthors 'other'}} author</span>
        </div>
    </div>

    <div class="inline fields ui grid">
        <label class="two wide column right aligned">Category</label>
        <div class="field thirteen wide column">
            {{input value=model.category placeholder="Choose a category..."  readonly=cannotEditTale}}
        </div>
    </div>

    <div class="inline fields ui grid">
        <label class="two wide column right aligned">Environment</label>
        <div class="field thirteen wide column">
            <div id="environmentDropdown" class="ui icon selection dropdown image {{if (eq environments.length 0) "loading"}} {{if cannotEditTale "disabled"}}"  disabled={{cannotEditTale}}>
                <input name="TaleImageId" type="hidden" onchange={{action "setTaleEnvironment" value="target.value"}}>
                <i class="dropdown icon"></i>
                <div class="default text"> Choose an environment...</div>
                <div class="menu">
                    {{#each environments as |env|}}
                        <div class="item" data-value={{env._id}}>
                            <img class="ui image environment-icon" src={{env.icon}}> {{env.name}}
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <div class="inline fields ui grid">
      <label class="two wide column right aligned">Datasets used</label>
      {{#each model.dataSetCitation as |citation index|}}
        {{#if index}}
          <label class="two wide column right aligned"></label>
        {{/if}}
        <div class="field thirteen wide column" style="margin-bottom:10px;">
          <div class="ui form">
            {{citation}}
          </div>
        </div>
        {{else}}
          No citable data
      {{/each}}
    </div>
    
    <div class="inline fields ui grid">
        <label class="two wide column right aligned">License</label>
        <div class="field thirteen wide column">
            <div id="licenseDropdown" class="ui icon selection dropdown license {{if (eq licenses.length 0) "loading"}} {{if cannotEditTale "disabled"}}"  disabled={{cannotEditTale}}>
                <input name="TaleLicenseSPDX" type="hidden" onchange={{action "setTaleLicense" value="target.value"}}>
                <i class="dropdown icon"></i>
                <div class="default text"> Choose a license...</div>
                <div class="menu">
                    {{#each licenses as |license|}}
                        <div class="item" data-value={{license.spdx}}>
                            {{license.name}}
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <div class="inline fields ui grid">
        <label class="two wide column right aligned">Date Created</label>
        <div class="field thirteen wide column">
            <span>{{model.created}}</span>
        </div>
    </div>

    <div class="inline fields ui grid">
        <label class="two wide column right aligned">Last Updated</label>
        <div class="field thirteen wide column">
            <span>{{model.updated}}</span>
        </div>
    </div>

    <div class="inline fields ui grid">
        <label class="two wide column right aligned">Description</label>
        <div class="thirteen wide column">
            {{ui/markdown-editor markdownValue=model.description readonly=cannotEditTale}}
        </div>
    </div>

    <div class="inline fields ui grid">
        <label class="two wide column right aligned">Illustration</label>
        <div class="ui action field thirteen wide column">
            {{input id=tale-icon value=model.illustration placeholder="http://" readonly=cannotEditTale}}
            <div class="ui buttons">
                <div class="or"></div>
                <button class="ui positive blue button {{if cannotEditTale "disabled"}}"  disabled={{cannotEditTale}} {{action "generateIcon"}}>Generate Illustration</button>
            </div>
        </div>
    </div>

    <div class="inline fields ui grid">
        <label class="two wide column right aligned">Published Location</label>
        <div class="ui action field thirteen wide column">
            {{#if publishedURL}}
                <a href={{publishedURL}} target="_blank">{{publishedURL}}</a>
            {{else}}
                <span>This Tale has not been published</span>
            {{/if}}
        </div>
    </div>

    <div class="inline fields ui grid">
        <label class="two wide column right aligned"></label>
        <div class="field two wide right aligned column">
            <button {{action "updateTale"}} class="ui blue submit button" type="submit" disabled={{cannotEditTale}}>Save</button>
        </div>
        <div class="field toggle ui checkbox four wide column">
            {{ui-checkbox class="toggle" label="Public?" checked=model.public onChange=(action (mut model.public)) disabled=cannotEditTale}}
        </div>
    </div>
</div>

<div class="ui metadata-error modal">
    <div class="header">
        Error While Saving Tale
    </div>
    <div class="image content">
        <div class="description">
            <p>{{errorMessage}}</p>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Close
        </div>
    </div>
</div>

