<div class="ui grid">
  <div class="ui divided items">
    {{#if (eq datasets.length 0)}}
      No data has been registered.. Register datasets to see them listed here
    {{/if}}
    {{#each datasets as |dataset|}}
      <div class="item">
        <div class="ui tiny image">
          {{#if (eq dataset.provider "HTTPS")}}
            {{!-- TODO: Add an HTTPS icon? --}}
          {{else if (eq dataset.provider "Dataverse")}}
            {{!-- TODO: Add a Dataverse icon --}}
          {{else if (eq dataset.provider "DataONE")}}
            <img src="/icons/DataONE_icon.jpg">
          {{else if (eq dataset.provider "Globus")}}
            <img src="/icons/Globus_icon.png">
          {{else}}
            {{!-- TODO: Add an "unknown source" icon? --}}
          {{/if}}
        </div>
        <div class="middle aligned content">
          {{dataset.name}}
        </div>
        <div class="meta">
          <span class="identifier">
            {{!-- TODO: how should we handle HTTPS provider here if we can't reform the full URL --}}
            <a href="https://doi.org/{{dataset.identifier}}">{{dataset.identifier}}</a>
          </span>
            {{!-- TODO: reuse file size helper logic --}}
          <span class="size">{{dataset.size}}</span>
        </div>
      </div>
    {{/each}}
  </div>
</div>

{{!-- TODO: Wire to create button, ensure still working --}}
{{ui/files/registration-modal onRegisterData=(action "refresh")}}