<div class='ui'>
  <div id="taleTabSelector" class='ui secondary pointing menu'>
      <a class='item {{if activeTabInteract 'active'}}' data-tab='tab-interact' onclick={{action 'activateInteract'}}>Interact</a>
      {{!--<a class='item {{if activeTabFiles 'active'}}' data-tab='tab-files' onclick={{action 'activateFiles'}}>Files</a>--}}
      <a class='item {{if activeTabMetadata 'active'}}' data-tab='tab-metadata' onclick={{action 'activateMetadata'}}>Metadata</a>
  </div>
  <div class='ui tab {{if activeTabInteract 'active'}}' data-tab='tab-interact'>
      {{#if activeTabInteract}}
        {{ui/tale-tab-interact model=model}}
      {{/if}}
  </div>
  <div class='ui tab {{if activeTabFiles 'active'}}' data-tab='tab-files'>
      {{#if activeTabFiles}}
        {{ui/tale-tab-files model=model}}
      {{/if}}
  </div>
  <div id="taleMetadataTab" class='ui tab {{if activeTabMetadata 'active'}}' data-tab='tab-metadata'>
      {{#if activeTabMetadata}}
          {{ui/tale-tab-metadata model=model}}
      {{/if}}
  </div>
</div>