<div class="ui">
    <div class="ui secondary pointing menu">
        {{#if (and model model.instance)}}
            <a class="item {{if activeTabInteract "active"}} auto-width" data-tab="tab-interact" {{action "activateInteract"}}>Interact</a>
        {{else}}
            <a class="item auto-width disabled not clickable" disabled="true">Interact</a>
        {{/if}}
        <a class="item {{if activeTabFiles "active"}} auto-width" data-tab="tab-files" {{action "activateFiles"}}>Files</a>
        <a class="item {{if activeTabMetadata "active"}} auto-width" data-tab="tab-metadata" {{action "activateMetadata"}}>Metadata</a>
        {{#if (and activeTabInteract (and model.instance (and (not-eq model.instance.status 0) model.instance.iframe)))}}
            <a href="{{model.url}}" target="_blank" class="external-icon-container">
                <i class="external alternate right icon floated"></i>
            </a>
        {{/if}}
    </div>
    <div class="ui tab {{if activeTabInteract "active"}}" data-tab="tab-interact">
        {{#if activeTabInteract}}
            {{ui/tale-tab-interact model=model taleLaunchError=taleLaunchError}}
        {{/if}}
    </div>
    <div class="ui tab {{if activeTabFiles "active"}}" data-tab="tab-files">
        {{#if activeTabFiles}}
            {{ui/tale-tab-files model=model workspaceRootId=workspaceRootId openSelectDataModal=(action 'openSelectDataModal') session=session}}
        {{/if}}
    </div>
    <div id="taleMetadataTab" class="ui tab {{if activeTabMetadata "active"}}" data-tab="tab-metadata">
        {{#if activeTabMetadata}}
            {{ui/tale-tab-metadata model=model}}
        {{/if}}
    </div>
</div>