<div class="wt panel manage">
    <div class="wt paddleboard">
        <h2>
            <i class="circle play icon"></i> Running Tales
        </h2>
    </div>
    {{#if showSearch}}
        <div class="ui inverted grey">
            <div class="ui secondary menu" style="display: block">
                <div class="item">
                    <div class="ui mini rounded icon search input">
                        {{input class="prompt" placeholder="Search tale instances..." value=searchStr key-up="search"}}
                        <i class="search icon"></i>
                    </div>
                    <div class="results">
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
    <div class="tales-list">
        {{#if deletingInstance}}
            <div id="instance-deleting-loader" class="ui segment">
              <p></p>
              <div class="ui active inverted dimmer">
                <div class="ui huge loader"></div>
              </div>
            </div>
        {{else}}
            {{#each models as |instance index|}}
                {{#if instance.name}}
                <div class="ui vertical menu fluid tales">
                    <a class="item tale-instances-item {{if (and internalState.currentInstanceId (eq internalState.currentInstanceId instance._id)) 'active'}}" {{action 'transitionToRun' instance index preventDefault=true}}>
                        <div class="ui grid">
                            <div class="three wide column">
                                {{#if (eq instance.status 0)}}
                                    <i class="fa fa-4x fa-circle-notch fa-spin" aria-hidden="true"></i>
                                {{else}}
                                    <img src="{{instance.tale.illustration}}" />
                                    <img src="{{instance.tale.icon}}" class="env" />
                                {{/if}}
                            </div>
                            <div class="twelve wide column">
                                <p>{{truncate-name instance.name}}</p>
                            </div>
                            <div class="one wide column">
                                {{#unless (eq instance.status 0)}}
                                    <i class="times icon" {{action 'openDeleteModal' instance bubbles=false}}></i>
                                {{/unless}}
                            </div>
                        </div>
                    </a>
                </div>
                {{/if}}
            {{else}}
                <div class="ui vertical menu fluid tales">
                    <div class="ui grid">
                        <div class="center aligned sixteen wide column">
                            <div style="padding: 45% 0;font-style:italic;">No tales are running</div>
                        </div>
                    </div>
                </div>
          {{/each}}
        {{/if}}
    </div>
</div>

{{ui/delete-modal 
    modelName=selectedInstance.name
    modelType="instance" 
    approveDelete=(action "approveDelete" selectedInstance) 
    denyDelete=(action "denyDelete")}}