<div class="wt panel manage">
    <div class="wt paddleboard">
        <h2>
            <i class="circle play icon"></i> Launched Tales
        </h2>
    </div>
    <div class="ui inverted grey">
        {{#if showSearch}}
            <div class="ui secondary menu" style="display: block">
                <div class="item">
                    <div class="ui mini rounded icon search input">
                        {{input class="prompt" placeholder="Search tales..." value=searchStr key-up="search"}}
                        <i class="search icon"></i>
                    </div>
                    <div class="results">
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
    <div class="tales-list">
        {{#each modelsInView as |instance index|}}
            <div class="ui vertical menu fluid tales">
                <a class="item {{if (and internalState.currentInstanceId (eq internalState.currentInstanceId instance._id)) 'active'}}" {{action 'transitionToRun' instance}}>
                    <img src="{{instance.tale.illustration}}" />
                    <img src="{{instance.tale.icon}}" class="env" />
                    <i class="times icon" {{action 'openDeleteModal' instance}} ></i>
                    <p>{{truncate-name instance.name}}</p>
                </a>
            </div>
        {{else}}
            <div class="ui vertical menu fluid tales">
                <div class="ui grid">
                    <div class="center aligned sixteen wide column">
                        <div style="padding: 45% 0; font-style:italic;">No tales have been launched</div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

{{ui/delete-modal model=selectedInstance modelType="instance" approveDelete=(action "approveDelete"  selectedInstance)}}