<div id="upload-progress" class="ui black progress upload hidden floating message" xmlns="http://www.w3.org/1999/html">
    {{#unless processingQueue}}
        <i class="close icon" {{action 'closeMessage' on='click'}}></i>
    {{else}}
        <button class="ui mini right floated button" {{action 'cancelUploads'}}>Cancel</button>
    {{/unless}}
    <div class="ui header" style="color:whitesmoke; margin-bottom: 10px">File Uploads</div>
    {{#each files as |file|}}
        {{#if (eq file.status "error")}}
            <div><i class="red warning icon"></i>
                  {{file.name}}
                    {{#if file.error}}
                      <div class="ui red label">
                          Not uploaded, error: {{file.error}}
                      </div>
                    {{else}}
                        <div class="ui red label">
                            Not uploaded, error: Not available
                        </div>
                    {{/if}}
            </div>
        {{else if (eq file.status "success")}}
            <div><i class="green check icon"></i>{{file.name}}</div>
        {{else if (eq file.status "canceled")}}
            <div><i class="red remove icon"></i><div class="ui red label">{{file.name}} -  Cancelled</div></div>
        {{else}}
            <div>
                {{#ui-progress class="small teal" value=file.progress progress=file.progress total=100}}
                    <div label="large label">{{file.name}}</div>
                    <div class="bar"></div>
                {{/ui-progress}}
            </div>
        {{/if}}
    {{/each}}
</div>

{{drop-zone class="hidden" autoProcessQueue=false}}
