

<div class="ui form">
    <div class="two fields">
        <div class="ui fourteen wide field">
            <label>Recipe Name</label>
            {{input value=name type="text" placeholder="Name..." required="true"}}
        </div>
        <div class="ui two wide field">
            <label>Public</label>
            {{ui-checkbox class="toggle"  label="" checked=public_checked onChange=(action (mut public_checked))}}
        </div>
    </div>
    <div class="two fields">
        <div class="ui eight wide field">
            <label>Repository URL</label>
            {{input value=recipe_url type="text" placeholder="https://"}}
        </div>
        <div class="ui eight wide field">
            <label>Commit ID</label>
            {{input value=commit_id type="text" placeholder="#"}}
        </div>
    </div>
    <div class="field">
          <label>Description</label>
          {{markdown-editor markdownValue=description}}
    </div>
    {{tags-widget tags=tags}}
    {{#if show_errors}}
        <div class="ui red message">
          <div class="content">
            {{error_message}}
          </div>
        </div>
    {{/if}}
</div>

{{#if creating}}
    <div class="ui segment" style="height:100px">
        <div class="ui active inverted dimmer">
            <div class="ui text loader">Saving Recipe...</div>
        </div>
    </div>
{{/if}}

{{#if created}}
    <div class="ui green icon message">
        <i class="checkmark icon"></i>
        <div class="content">
            <div class="header">
                The Recipe has been saved, you will be redirected to its view shortly !
            </div>
        </div>
    </div>
{{/if}}

{{#if not_created}}
    <div class="ui red icon message">
        <i class="remove circle icon"></i>
        <div class="content">
            <div class="header">
                The Recipe could not be saved !
            </div>
        </div>
    </div>
{{/if}}
