

<div class="ui form">
    <div class="two fields">
        <div class="fourteen wide field">
            <div class="field">
                <label>Title</label>
                {{input value=title type="text" placeholder="Tale Title"}}
            </div>
        </div>
        <div class="two wide field">
            <div class="field">
                <label>Public</label>
              {{ui-checkbox class="toggle" label="Public?" checked=public_checked onChange=(action (mut public_checked))}}
            </div>
        </div>
    </div>
    <div class="field">
        <label>Description</label>
        <!-- {{textarea value=description cols="80" rows="8"}} -->
      {{ui/markdown-editor markdownValue=description}}
    </div>

      <div class="field">
          <div class="field">
              <label>Configuration Information</label>
            {{textarea value=configuration cols="80" rows="5"}}
          </div>
      </div>
</div>
