

<div class="ui form">
    <div class="ui field">
        <label>Frontend</label>
        {{#if frontend.name}}
          {{input readonly=true value=frontend.name type="text" placeholder="Frontend Not Chosen"}}
        {{else}}
            <div class="ui red message">Frontend Not Chosen</div>
        {{/if}}
    </div>
    <div class="ui field">
        <label>Folder</label>
      {{#if folder.name}}
        {{input readonly=true value=folder.name type="text" placeholder="Folder Not Chosen"}}
      {{else}}
          <div class="ui red message">Folder Not Chosen</div>
      {{/if}}
    </div>
    <div class="two fields">
        <div class="field">
                <label>Title</label>
                {{input readonly=true value=title type="text" placeholder="Tale Title"}}
        </div>
        <div class="field">
                <label>Public</label>
              {{ui-checkbox readonly=true class="toggle"  label="Public?" checked=public_checked onChange=(action (mut public_checked))}}
        </div>
    </div>
    <div class="two fields">
        <div class="field">
                <label>Description</label>
              {{textarea readonly=true value=description cols="80" rows="6"}}
        </div>
        <div class="field">
                <label>Configuration Information</label>
              {{textarea readonly=true value=configuration cols="80" rows="6"}}
        </div>
    </div>
</div>

{{#if tale_creating}}
    <div class="ui segment" style="height:100px">
        <div class="ui active inverted dimmer">
            <div class="ui text loader">Saving The Whole Tale...</div>
        </div>
    </div>
{{/if}}

{{#if tale_created}}
    <div class="ui green icon message">
        <i class="checkmark icon"></i>
        <div class="content">
            <div class="header">
                The Tale has been saved !
            </div>
        </div>
    </div>
{{/if}}

{{#if tale_not_created}}
    <div class="ui red icon message">
        <i class="remove circle icon"></i>
        <div class="content">
            <div class="header">
                The Tale could not be saved !
            </div>
        </div>
    </div>
{{/if}}
