{{#ui-modal class="workspacedata" name="workspacedata" onVisible=(action 'initData')}}
    <div class="header">
        Select Data
    </div>
    <div class="content">
        <div class="ui grid" style="border-bottom-color: transparent;">
            <div class="four wide column">
                <div class="ui segment">
                    {{#each dataSources as |datasource index|}}
                        <div class="ui vertical menu fluid right">
                            <a class="item {{if (eq index selectedMenuIndex) 'active-class'}}"
                                style="padding: 0"
                                {{action 'selectDatasource' datasource index}}>
                                <div class="icon-wrapper">{{datasource.name}}</div>
                                <div style="padding-left: 1rem; padding-top: 4px;">
                                    <span class="instructions" style="color: rgba(0, 0, 0, 0.4);font-size: 12px;font-style: italic;letter-spacing: -0.5px;">
                                        {{datasource.description}}
                                    </span>
                                </div>
                            </a>
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="twelve wide column">
                <div class="ui segment">
                    {{#if loading}}
                        <div class="ui active inverted dimmer">
                            <div class="ui indeterminate medium text {{unless loadError 'loader'}}">{{loadingMessage}}</div>
                        </div>
                        <p></p>
                    {{else}}
                        <table class="ui very basic compact striped fixed single line table">
                            <thead>
                                {{#if (eq rootFolderId currentFolder.id)}}
                                    <th class="ui sub header collapsing noselect">
                                        {{#if (eq currentFolder.id internalState.workspaceRootId)}}
                                            Workspace Root Folder
                                        {{else}}
                                            Home Folder
                                        {{/if}}
                                    </th>
                                {{else}}
                                    <th class="ui sub header collapsing noselect clickable blue"
                                        style="text-transform: none"
                                        {{action 'goBack' on='click'}}>
                                        <i class="long alternate blue horizontally flipped level up icon"></i>{{truncate-name currentFolder.name}}
                                    </th>
                                {{/if}}                                
                            </thead>
                            <tbody>
                                {{#each folders as | folder |}}
                                    {{#unless (and (eq taleId folder.meta.taleId) (eq rootFolderId currentFolder.id))}}
                                        <tr class="{{if folder.selected 'selected-row'}}"
                                            {{action 'dblClick' folder on='doubleClick'}}
                                            {{action 'onClick' folder on='click'}}>
                                            <td class="collapsing noselect">
                                                <i class="folder icon"></i>{{truncate-name folder.name}}
                                            </td>
                                        </tr>
                                    {{/unless}}
                                {{/each}}
                                {{#each files as | file |}}
                                    <tr class="{{if file.selected 'selected-row'}}">
                                        <td class="collapsing noselect" {{action 'onClick' file on='click'}}>
                                            <i class="file icon"></i>{{file.name}}
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <button class="ui deny button"
            style="float: left"
            onclick={{action "cancel" preventDefault=false bubble=false}}>
            Cancel
        </button>
        <button class="ui positive right labeled icon button" 
            disabled={{canSubmit}}
            onclick={{action "updateWorkspaceData" false preventDefault=false bubble=false}}>
            <i class="copy icon"></i>
            Copy to Workspace
        </button>
        <button class="ui positive right labeled icon button" 
            disabled={{canSubmit}}
            onclick={{action "updateWorkspaceData" true preventDefault=false bubble=false}}>
            <i class="cut icon"></i>
            Move to Workspace
        </button>
    </div>
{{/ui-modal}}
