<div class="two tiny ui buttons" {{action 'openModal' on='click'}}>
<button class="ui blue basic button">
    <i class="dataone icon"></i>
    Connect DataONE
</button>
<button class="ui globusblue button">
    <i class="globus icon"></i>
    Connect Globus
</button>
</div>
<div class="ui fluid vertical thin inverted blue menu" style="margin:0;">
  {{#each list as |collection|}}
    {{#if (eq selectedCollectionID collection._id)}}
    <a class="active item" {{action "collectionClicked" collection._id collection.name}}>
      {{#if (eq collection.public true)}}
          <div class="ui tiny inverted blue label"><i class="unlock alternate icon"></i></div>
      {{/if}}
      {{#if (eq collection.public false)}}
          <div class="ui tiny inverted blue label"><i class="lock icon"></i></div>
      {{/if}}
      {{collection.name}}
    </a>
    {{/if}}
    {{#unless (eq selectedCollectionID collection._id)}}
    <a class="item" {{action "collectionClicked" collection._id collection.name}}>
      {{#if (eq collection.public true)}}
          <div class="ui tiny inverted blue label"><i class="unlock alternate icon"></i></div>
      {{/if}}
      {{#if (eq collection.public false)}}
          <div class="ui tiny inverted blue label"><i class="lock icon"></i></div>
      {{/if}}
      {{collection.name}}
    </a>
    {{/unless}}
  {{/each}}
</div>

{{#link-to 'collections' class="ui tiny fluid basic blue button"}}
    <i class="edit icon"></i>
    Collection Editor
{{/link-to}}
