<!-- app/components/mini-directory-browser/template.hbs -->
{{#if contextMenu}}
<div class="ui card">
    <div class="content">
        <div class="ui top right attached red label" style="color: white;" {{action "close" on="click"}}>
            <i class="ui close icon "></i>
        </div>
        <div class="ui large header" style="padding-top: 5px">Move file {{fileToMove.name}}</div>
        <div class="ui large header" style="padding-top: 5px">To {{moveTo.name}}</div>
    </div>
    <div class="content" style="font-size: 110%">
      {{#unless loading}}
        {{#if (eq directory.type "folder")}}
            <i class="large level up icon clickable" {{action "clickedLevelUp" on="click"}}></i>
        {{/if}}
          <div class="ui list">
            {{#each folders as |item|}}
                <div class="item context-menu-item" id={{item.id}} {{action "clickedRow" item on="click"}}>
                    <i class="large folder outline icon"></i>
                    <div class="content inline" style="width:100%;">
                      {{item.name}}
                      {{#if item.selected}}<i class="large level down icon clickable" style="float:right;" {{action "clickedLevelDown" item on="click"}}></i>{{/if}}
                    </div>
                </div>
            {{/each}}
          </div>
        {{#if moveTo}}
            <div style="text-align:center;">
                <div class="ui blue button" {{action "move"}}>Move</div>
            </div>
        {{/if}}
      {{else}}
        {{#ui-progress class="ui top attached progress" value=990 progress=990 total=1000}}
            <div class="bar"></div>
        {{/ui-progress}}
      {{/unless}}
    </div>
</div>
{{else}}
    {{#if selectedFolder}}
        <div class="header item" style="font-size: 120%">
            <span class="ui large blue label" style="margin-right: 10px;">Currently Selected</span> {{selectedFolder.name}}
        </div>
        <div class="ui divider"></div>
    {{/if}}
    <div class="">
    {{#unless loading}}
      <div style="max-height: 500px; overflow-y: scroll">
        <table class="ui very basic single line table" style="margin:0;">
            <thead>
                <tr>
                <th>Name</th>
                <th>Created</th>
                <th>Last Modified</th>
                <th>Size</th>
            </tr></thead>
            <tbody>
                {{#if (eq directory.type "folder")}}
                <tr class="left aligned selectable" id={{item.id}} {{action "clickedRow" directory on="click"}}>
                    <td>
                        <span>{{directory.name}}</span><i class="large level up icon clickable" {{action "clickedLevelUp" directory on="click"}}></i>
                    </td>
                </tr>
                {{else if (eq directory.type "registered")}}
                <tr class="left aligned">
                    <td>
                        <span>{{directory.name}}</span><i class="large level up icon clickable" {{action "clickedLevelUp" directory on="click"}}></i>
                    </td>
                </tr>
                {{else}}
                <!-- <tr class="left aligned">
                    <td>
                        <span></span><i class="large level up icon clickable" {{action "clickedLevelUp" directory on="click"}}></i>
                    </td>
                </tr> -->
                {{/if}}
                {{#each folders as |item|}}
                    <tr class="left aligned selectable" id={{item.id}} {{action "clickedRow" item on="click"}}>
                        <td>
                            <i class="large folder outline icon"></i> {{truncate-name item.name}}
                        </td>
                        <td >
                            {{from-now item.created}}
                        </td>
                        <td >
                            {{from-now item.updated}}
                        </td>
                        <td >
                            {{bytes-to-readable item.size}}
                        </td>
                        <td>
                            {{#if item.selected}}
                                <i class="large level down icon clickable" style="" {{action "clickedLevelDown" item on="click"}}></i>
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
            {{#if (eq directory.type "user")}}
                <div class="ui center aligned basic segment">
                    <div class="ui horizontal divider">
                        Or
                    </div>
                    <div class="ui teal labeled icon button" {{action "clickedLevelDown" registered}}>
                        Select From Registered Datasets
                        <i class="level down icon"></i>
                    </div>
                </div>
            {{/if}}
      </div>
    {{else}}
       {{#ui-progress class="ui top attached progress" value=990 progress=990 total=1000}}
           <div class="bar"></div>
       {{/ui-progress}}
    {{/unless}}
  </div>
{{/if}}
