<div class="ui tool segment">
  <div class="ui small blue button" {{action 'back'}}><i class="caret left icon"></i> Back </div>

    <div class="ui small red icon button" {{action 'openDeleteModal' model._id}} style="float: right">
      <i class="remove icon"></i>
        Delete Tale
    </div>
</div>

<div class="ui {{model._id}} modal" style="display: none">
    <i class="close icon"></i>
    <div class="header">
        Really Delete Tale?
    </div>
    <div class="image content">
        <div class="description">
            <p>This will permanently delete the '{{model.name}}' Tale. Continue?</p>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button" {{action 'denyDelete'}}>
            No
        </div>
        <div class="ui positive right labeled icon button" {{action 'approveDelete' model}}>
            Yes
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

{{#ui-accordion class="fluid styled"}}
    <div class="active title">
        Create Tale Instance of {{model.name}}
    </div>
    <div class="active content">
        <div class="ui header">Launch Tale</div>
        <div class="ui form">
            <div class="ui field">
                <label>Instantiation Name</label>
              {{input value=taleInstanceName type="text" placeholder="Tale Name (optional)"}}
            </div>
            <div class="ui field">
                <div class="ui large blue labeled icon button" {{action 'launchTale'}}>
                    <i class="play icon"></i>
                    Launch Tale
                </div>
            </div>
        </div>
    </div>
    <div class="title">
        View Tale Information
    </div>
    <div class="content">
      {{partial "forms/tale-edit"}}
        <div class="ui blue submit button" {{action 'updateTale'}}>Update</div>
    </div>
    <div class="title">
        View Tale Properties
    </div>
    <div class="content">
        <div class="ui header">
            <i class="tasks icon"></i> Tale Properties
        </div>
        <div class="ui form">
            <br>
            <div class="field">
                <label>Tale ID</label>
                <input type="text" name="file-id" placeholder="File ID" value="{{model._id}}" disabled>
            </div>


            <div class="field">
                <label>Tale Created</label>
                <input type="text" name="date-created" placeholder="Date Created" value="{{from-now model.created}}" disabled>
            </div>

            <div class="field">
                <label>Tale Updated</label>
                <input type="text" name="last-updated" placeholder="Last Updated" value="{{from-now model.updated}}" disabled>
            </div>
        </div>
    </div>
{{/ui-accordion}}


{{#if tale_instantiating}}
    <div class="ui segment" style="height:100px">
        <div class="ui active inverted dimmer">
            <div class="ui text loader">Launching Tale {{model.name}}</div>
        </div>
    </div>
{{/if}}

{{#if tale_instantiated}}
    <div class="ui green icon message">
        <i class="checkmark icon"></i>
        <div class="content">
            <div class="header">
                <p>The Tale '{{model.name}}' has been launched !</p>

              <div class="ui buttons">
                <a href="{{instance.fullUrl}}" target="_blank">
                    <div class="ui green icon button" style="margin-right: 10px">
                        <i class="play icon"></i>
                        Start FrontEnd
                    </div></a>
              {{#link-to 'status' class="ui blue icon button"}}
                  <i class="line chart icon"></i>
                  Check Status
              {{/link-to}}
              </div>

            </div>
        </div>
    </div>
{{/if}}

{{#if tale_not_instantiated}}
    <div class="ui red icon message">
        <i class="remove circle icon"></i>
        <div class="content">
            <div class="header">
                The Tale '{{model.name}}' could not be launched !<br>
                {{error_msg}}
            </div>
        </div>
    </div>
{{/if}}