<div class="ui large header"> Viewing user {{model.name}}</div>

<table class="ui celled padded table">
    <thead>
    <tr>
        <th>Parameter</th>
        <th>Value</th>
    </tr></thead>
    <tbody>
        <tr class="center aligned">
            <td>
                First Name
            </td>
            <td>
              {{model.firstName}}
            </td>
        </tr>
        <tr class="center aligned">
            <td>
                Last Name
            </td>
            <td>
              {{model.lastName}}
            </td>
        </tr>
        <tr class="center aligned">
            <td>
                ID
            </td>
            <td>
              {{model._id}}
            </td>
        </tr>
        <tr class="center aligned">
            <td>
                Public?
            </td>
            <td>
              {{#if model.public}}

                  <i class="large green checkmark icon"></i>
              {{/if}}
              {{#unless model.public}}

                  <i class="large red remove icon"></i>
              {{/unless}}
            </td>
        </tr>
        <tr class="center aligned">
            <td>
                Date Joined
            </td>
            <td>
              {{moment-from-now model.created}}
            </td>
        </tr>
    </tbody>
</table>

{{#link-to "collaborators" class="ui blue button"}}<i class="open folder outline icon"></i> All Collaborators{{/link-to}}


{{file-manager}}

