<div class="wt panel manage">
    <div class="wt paddleboard">
        <h2>
            <i class="fas fa-desktop"></i> Environments
        </h2>
    </div>
    <div class="ui inverted grey">
      {{#if showSearch}}
        <div class="ui secondary menu">
            {{#if item}}
                <div class="header item" style="font-size: 120%">
                    <span class="ui huge blue label" style="margin-right: 10px;">Currently Selected</span> {{selectedEnvironmentName}}
                </div>
            {{/if}}

            <div class="item">
                <div class="ui mini rounded icon search input">
                    {{input class="prompt" placeholder="Search..." value=searchStr key-up="searchFilter"}}
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
    {{/if}}
    </div>
    <div class="environments-list">
        {{#each modelsInView as |model|}}
            <div class="ui vertical menu fluid tales">
                <a class="item" {{action 'onModelChange' model}}>
                    {{!-- <img src="{{model.image.illustration}}" /> --}}
                    <img src="{{model.icon}}" />
                    {{!-- <i class="large ellipsis vertical icon"></i> --}}
                    <i class="fas fa-info blue"></i>
                    <p>{{model.name}}</p>
                </a>
            </div>
        {{/each}}
    </div>
</div>