<!-- app/pods/components/pods-cards/template.hbs -->
<div class="ui three stackable doubling cards">
  {{!-- Initialize Loader --}}
<!--
  {{loading-widget isPrivate=true}}
-->

  {{#each list as |pod|}}
      <div class="ui fluid card">
          <div class="fluid image">
              <img src="/images/whole_tale_logo.png">
          </div>
          <div class="content">
              <div class="header">{{pod.title}}</div>
              <div class="meta">
                  <span class="date">Last Updated on {{from-now pod.dateModified}}</span><br>
              </div>
              <div class="description">
                {{pod.description}}
              </div>
          </div>
          <!--
            <div class="extra content">
                {{#link-to 'pods.detail' pod.id class="ui bottom attached red labeled icon button"}}
                 Detail <i class="expand icon"></i>
                {{/link-to}}
            </div>
-->
      </div>
  {{/each}}
</div>

{{!-- Pagination --}}
<div class="ui segment pagination">
  {{pagination-control
    currentPage=page
    pageCount=totalPages
    next=(action 'next')
    previous=(action 'previous')
    goToPage=(action 'goToPage')
  }}
</div>
