{{#if (eq model.instance.status 1)}}
    {{#if model.instance.iframe}}
      <div id="frontendDisplayParent" class="rounded-bottom">
        <iframe id="frontendDisplay"
                src="{{model.instance.url}}"
                class="ui basic segment">
        </iframe>
      </div>
    {{else}}
        <div class="placeholder message">
            <p>
              The compute environment for this Tale must run in a separate browser window.<br/>
              <a class="ui primary button huge" href="{{model.instance.url}}" target="_blank">Go to new window</a>
            </p>
        </div>
    {{/if}}
{{else if (eq model.instance.status 0)}}
  <div class="placeholder message">
    <p><i class="fas fa-spinner fa-pulse fa-fw"></i> Please Wait</p>
  </div>
{{else if taleLaunchError}}
  <div class="placeholder message">
    <p><i class="fas fa-2x fa-exclamation-circle"></i> Error running tale</p>
    <p>{{taleLaunchError}}</p>
  </div>
{{else}}
  <div class="placeholder message">
    <p>Run this Tale to Interact</p>
  </div>
{{/if}}