<div class="wt panel manage">
    <div class="wt paddleboard">
        <h2>
            <i class="fas fa-edit left"></i> Compose
            <span style="font-style:italic;">Create a new Tale by pairing a compute environment with a dataset</span>
        </h2>
    </div>

    <div class="ui segment rounded-bottom composer-container">
        <div style="display: {{showStep.[0]}}">
            {{partial "forms/new-tale-input"}}
        </div>

        <div style="display: {{showStep.[1]}}">
            {{ui/wt-flix models=model.images paginateOn=6 cardsPerRow="six" modelView="image.view" showSelect=true showSearch=true action="itemSelected"}}
        </div>

        {{!-- <div style="display: {{showStep.[2]}}">
            {{ui/files/folder-chooser id="mini-browser" onSelectedFolder=(action "selectedFolder") }}
        </div> --}}

        <div style="display: {{showStep.[3]}}">
            <div class="ui large header">Confirm Details</div>

            {{partial "forms/tale-details"}}
        </div>


        <div class="ui secondary menu">
            <div style="margin: 0 auto">
                <button class="ui big grey icon button" disabled={{invalidNewTale}}>Launch New Tale</button>
            </div>
        </div>

    </div>

</div>