<div class="wt panel manage">
    <div class="wt paddleboard">
        <h2>
            <i class="fas fa-edit left"></i> Compose
            <span style="font-style:italic;">Create a new Tale by pairing a compute environment with a dataset</span>
        </h2>
    </div>
    <div class="ui segment rounded-bottom composer-container">
        <div style="display: inline">
            {{partial "forms/new-tale-input"}}
        </div>

        <div class="ui secondary menu">
            <div style="margin: 0 auto">
                <button class="ui big icon button {{if invalidNewTale 'grey'}} {{unless invalidNewTale 'blue'}}" 
                        disabled={{invalidNewTale}}
                        {{action "launchTale"}}>
                        Launch New Tale
                </button>
            </div>
        </div>
    </div>
</div>