{{!
  @module wholetale
  @submodule big-button
~}}

<div class="ui fluid inverted segment">

    <div class="ui {{color}} fluid icon labelled button" {{action "gotoPage"}}>
      {{title}}
        <i class="huge {{icon}} icon"></i>
    </div>
    <br>
    <div class="ui fluid basic {{color}} button" {{action "gotoPage"}}>
        <i class="eye icon"></i>
        Launch
    </div>


</div>