<div class="ui stackable inverted blue menu main navbar" style="margin:0; padding: 0">
  {{#if loggedIn}}

    <div class="ui big black button item" {{action 'toggle' 'sub-sidebar'}}>
    <i class="content icon"></i>
    </div>


    {{#link-to 'index' class="only header item logo"}}
        <img class="ui right spaced image logo header" src="/images/whole_tale_logo_text_long_light.png" alt="WholeTale Logo"/>
    {{/link-to}}


  {{else}}
  <div class="header item logo">
      <img class="ui right spaced image logo header" src="/images/whole_tale_logo_text_long_light.png" alt="WholeTale Logo"/>
  </div>
  {{/if}}

  {{#if loggedIn}}
        <div class="current page item">
        <span class="text"><i class="small white {{currentIcon}} icon"></i>  {{currentPage}}</span>
    </div>
  {{/if}}

  {{#if loggedIn}}
      <div class="right menu">
          <div class="item" style="border: none">
              <img class="ui avatar image" style="float:right; margin-top: -8px; padding-top: 0;" src="{{gravatarUrl}}" alt="User gravatar" width="25px">
            {{user.firstName}}&nbsp;{{user.lastName}}
          </div>
      </div>
  {{/if}}
</div>


