<div class="ui stackable inverted blue menu main navbar" style="margin:0; padding: 0; border-radius: 0rem;">
  {{#if loggedIn}}

    {{#link-to 'index' class="header item logo"}}
        <img class="ui right spaced image logo header" src="/images/whole_tale_logo_text_long_light.png" alt="WholeTale Logo"/>
    {{/link-to}}


  {{else}}
  <div class="header item logo">
      <img class="ui right spaced image logo header" src="/images/whole_tale_logo_text_long_light.png" alt="WholeTale Logo"/>
  </div>
  {{/if}}

  {{#if loggedIn}}
        <div class="current page item">
        <span class="text"><i class="white {{currentIcon}} icon"></i>  {{currentPage}}</span>
    </div>
  {{/if}}

  {{#if loggedIn}}
      <div class="right menu">
          <div class="item" style="border: none">
              <img class="ui avatar image" style="float:right; margin-top: 2px; padding-top: 0; margin-right:4px" src="{{gravatarUrl}}" alt="User gravatar" width="30px">
            {{user.firstName}}&nbsp;{{user.lastName}}
          </div>
      </div>
  {{/if}}
</div>


