<div class="ui inverted menu wt top">
    {{#if mergedMenus}}
        <div class="header item wt brand"><img src="/images/wholetale_logo_sm.png" />Whole<span>Tale</span></div>
        <div class="active item">Dashboard</div>
        <a class="item">About</a>
        <a class="item">Team</a>
    {{else}}
        <div class="alt-image">
            <img src="/images/wholetale_logo_sm.png" height="24px" width="24px"/>
            {{#if (not mobileMenuDisplay)}}
                <span class="white text">WHOLE <span class="tale">TALE</span></span>
            {{/if}}
        </div>
        <div class="header item wt brand"><img src="/images/wholetale_logo_sm.png" />WHOLE<span>TALE</span> <span> Dashboard</span></div>
        {{#if loggedIn}}
            {{#link-to 'browse' class="item" invokeAction=(action 'closeMenu' 'Browse' 'upload')}}
                Browse
            {{/link-to}}

            {{#if internalState.currentInstanceId }}
                {{#link-to 'run.view' internalState.currentInstanceId class="item" invokeAction=(action 'closeMenu' 'Run' 'play')}}
                    Run
                {{/link-to}}
            {{else}}
                {{#link-to 'run' class="item" invokeAction=(action 'closeMenu' 'Run' 'play')}}
                    Run
                {{/link-to}}
            {{/if}}

            {{#link-to 'manage' class="item" invokeAction=(action 'closeMenu' 'Manage' 'upload')}}
                Manage
            {{/link-to}}

            {{#link-to 'compose' class="item" invokeAction=(action 'closeMenu' 'Compose' 'plus')}}
                Compose
            {{/link-to}}
        {{/if}}
    {{/if}}
    {{#if loggedIn}}
        <div class="right menu">
            <div class="item wt gravatar-container not-nav">
                <img src="{{gravatarUrl}}" class="gravatar" />
            </div>
            <label class="item small font not-nav">{{user.firstName}} {{user.lastName}}</label>
            {{!-- DEVNOTE: This should be enabled when Job Watcher is working properly
            <a class="item wt thin not-nav" data-tooltip="View running tasks."
                data-position="bottom right" {{action 'openJobWatcher'}}>
                    <i class="tasks icon white"></i>
            </a>    
            --}}
            <a class="item wt thin not-nav" target="_blank"
              href="https://wholetale.readthedocs.io/en/stable/users_guide/index.html"
              data-tooltip="Read the Whole Tale User Guide." data-position="bottom right">
                <i class="info circle white large icon"></i>
            </a>
            <a class="item wt thin not-nav" target="_blank" {{action 'toggleShowNotifications'}}
              href="#" data-tooltip="Show or hide server notifications." data-position="bottom right">
                <i class="exclamation circle white large icon"></i>
                {{#if (gt notificationStream.events.length 0)}}
                    <div id="event-notification-counter" class="floating ui red label">
                        {{ notificationStream.events.length }}
                    </div>
                {{/if}}
            </a>
            <a class="item wt thin not-nav" {{action 'closeMenu' 'logout'}} 
              data-tooltip="Log out from the Whole Tale." data-position="bottom right">
                <i class="sign out white large icon"></i>
            </a>
        </div>
        <div class="ember-burger-menu bm-item--push bm--slide right translucent-overlay {{if mobileMenuDisplay 'is-open'}}">
            <div class="bm-menu-container">
                <div class="bm-menu">
                    <a class="close right fa fa-times" {{action "toggleMobileMenu"}}></a>
                    <h2>
                        <i aria-hidden="true" class="fa fa-bars"></i>
                        MENU
                    </h2>
                    <ul>
                        <li class="bm-menu-item">
                            {{#link-to 'browse' invokeAction=(action 'closeMenu' 'Browse' 'upload')}}
                                <i class="globe black icon"></i> Browse
                            {{/link-to}}
                        </li>
                        <li class="bm-menu-item">
                            {{#if internalState.currentInstanceId }}
                                {{#link-to 'run.view' internalState.currentInstanceId invokeAction=(action 'closeMenu' 'Run' 'play')}}
                                    <i class="play black icon"></i> Run
                                {{/link-to}}
                            {{else}}
                                {{#link-to 'run' invokeAction=(action 'closeMenu' 'Run' 'play')}}
                                    <i class="play black icon"></i> Run
                                {{/link-to}}
                            {{/if}}
                        </li>
                        <li class="bm-menu-item">
                            {{#link-to 'manage' invokeAction=(action 'closeMenu' 'Manage' 'upload')}}
                                <i class="cog black icon"></i> Manage
                            {{/link-to}}
                        </li>
                        <li class="bm-menu-item">
                            {{#link-to 'compose' invokeAction=(action 'closeMenu' 'Compose' 'plus')}}
                                <i class="edit black icon"></i> Compose
                            {{/link-to}}
                        </li>
                        <li class="bm-menu-item">
                            <a href="https://wholetale.readthedocs.io/en/stable/users_guide/index.html" target="_blank">
                                <i class="info circle black icon"></i> User Guide
                            </a>
                        </li>
                        <li class="bm-menu-item">
                            <a target="_blank" {{action 'toggleShowNotifications'}}>
                                <i class="info circle black icon"></i> {{if showNotificationStream 'Hide' 'Show'}} Notifications
                            </a>
                        </li>
                        <li class="bm-menu-item">
                            <a {{action 'closeMenu' 'logout'}}>
                                <i class="sign out black icon"></i> Log Out
                            </a>
                        </li>
                    </ul>
                    <div style="position: absolute; bottom: 1rem; width: 100%; text-align: center;">
                        <div class="wt gravatar-container not-nav">
                            <img src="{{gravatarUrl}}" class="gravatar"  style="border-radius: 50%;"/>
                        </div>
                        <label>{{user.firstName}} {{user.lastName}}</label>
                    </div>
                </div>
            </div>
            <div class="bm-outlet">
                <div class="bm-menu-container"></div>
                <div class="bm-content">
                    <a class="hamburger right {{if (not mobileMenuDisplay) 'is-open'}}" {{action "toggleMobileMenu"}}>
                    <i aria-hidden="true" class="fa fa-bars"></i>
                    </a>
                </div>
            </div>     
        </div>
    {{/if}}
</div>