{{#ui-modal name="publisher" class="small publisher" onApprove=(action 'publishTale') onDeny=(action 'cancelPublish')}}
<div class="header">
    <h2>Publish Tale
        <span><p style="font-style:italic;">Create an immutable copy of your Tale with a DOI <i class="info circle blue icon" style="text-align: right"></i></p> </span>
    </h2>
</div>

{{#ui-accordion as |execute|}}
<div class="title">
    <h2>
        <i class="far fa-hdd"></i> Data
        <span style="font-style:italic;">Select the files fully needed to reproduce your work</span>
    </h2>
    <i class="dropdown icon"></i>
</div>

<div class="content">
    <div class="ui basic segment">
        <div class="ui list">
            <div class="item">
                <i class="folder icon"></i>
                <div class="content" style="height:100px;">
                    <div class="header">Home Directory</div>
                    <div class="description">Files stored in your home directory</div>
                    <div class="list">
                        {{#each fileList as |file|}}
                        <div class="item">
                            <div class ="ui checked checkbox">
                                <input type="checkbox" checked="">
                                <label>
                                    <i class="file icon"></i>
                                    <div class="content">
                                        <div class="header">{{file.name}}</div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        <div class="item">
            <i class="folder icon"></i>
            <div class="content">
                <div class="header">Registered Data</div>
                <div class="description">Data registered from external sources</div>
                <div class="list">
                    <div class="item">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="title">

    <h2>
        <i class="desktop icon"></i>Environment
        <span style="font-style:italic;">Everything required to recreate chosen compute environment - view only</span>
    </h2>
    <i class="dropdown icon"></i>
</div>

<div class="content">
</div>

<div class="title">
    <h2>
        <i class="creative commons icon"></i>Usage Rights
        <span style="font-style:italic;">Choose how you wish your Tale to be stored and reused</span>
    </h2>
    <i class="dropdown icon"></i>
</div>

<div class="content">
    <div class="ui form"></div>
        <div class="grouped fields">
            <div class="field">
                <div class="ui radio checkbox" style="left:3%; font-size:medium">
                    <input type="radio" name="example2" checked="checked">
                    <label>Creative Commons Public Domain CCO <i class="info circle blue icon" ></i> </label> 
                    
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox" style="left:3%; font-size:medium">
                    <input type="radio" name="example2">
                        <label>Creative Commons Attribution CC-BY <i class="info circle blue icon" ></i> </label>
                </div>
            </div>
        </div>
    </div>
{{/ui-accordion}}

<div class="actions">
    {{#ui-dropdown class="search selection dropdown" allowAdditions=false selected=selectedRepository onChange=(action 'onNodeChange')
    as |execute mapper|}}
    <div class="default text">Target Repository</div>
    <i class="dropdown icon"></i>
    <div class="menu">
        <div data-value="" class="item">Development</div>
        {{#each types as |type|}}
        <div data-value="{{map-value mapper type}}" class="item">
            {{type}}
        </div>
        {{/each}}
    </div>
    {{/ui-dropdown}}
    
    {{#if enablePublish}}
    <div class="ui positive blue enabled right labeled icon button">
        Publish Tale
    </div>
    {{else if publishing}}
        <div class="ui positive blue disabled loading right labeled icon button">
            Publishing
        </div>
    {{else}}
                <div class="ui positive green right labeled icon button">
            View Package
        </div>
    {{/if}}
    <div class="ui deny blue inverted button">
        Cancel
        <i class="icon register"></i>
    </div>
</div>
{{/ui-modal}}