<div name="publisher" class="small publisher" >

<div class="main header">
    <h2>Publish Tale
        <span>Create an immutable copy of your Tale with a DOI <i class="info circle blue icon main"></i></span>
    </h2>
</div>
<hr class="publish-hr">

    {{!-- Accordion menu that lists tale files which can be (de)selected by the user --}}
    {{#ui-accordion class="accordion-container"}}
    <div class="title">
        <h2>
            <i class="far fa-hdd"></i> Data
            <span>
                Select the files needed to fully reproduce your work
                 <i class="dropdown icon"></i>
            </span>
        </h2>
    </div>

    <div class="content files">
        <div class="ui basic segment file-picker">
                {{ui/files/file-picker inputData=inputData taleId=modalContext}}
        </div>
    </div>

    <hr class="publish-hr">
    {{!-- Accordion menu that lists the files which cannot be removed by the user --}}
    <div class="title">
        <h2>
            <i class="desktop icon"></i> Environment
                <span>
                Everything required to recreate chosen compute environment - view only 
                <i class="dropdown icon"></i>
            </span>
        </h2>
    </div>
    <div class="content">
            <div class="ui basic segment">
                <div class="ui list">
                    <div class="item">
                         <i class="environment folder icon"></i>
                        <div class="content">
                            <div class="environment name header">{{tale.title}}</div>
                            <div class="list">
                                {{#each nonOptionalFile as |file|}}
                                <div class="item">
                                        <label>
                                            <div class="content">
                                                <i class="file icon"></i>
                                                 {{file}} <i class="info circle blue icon {{file}}"></i> 
                                            </div>
                                        </label>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <hr class="publish-hr">
    {{#if showPublishing}}
    {{!-- Accordion that shows publishing status --}}
    <hr class="publish-hr">
    <div class="title">
        <h2>
            <i class="fas fa-briefcase"></i> Publishing
            <span>
                View your Tale's publishing status
                <i class="dropdown icon"></i>
            </span>
        </h2>
    </div>

    <div class="content">
        <div class="ui form" style="height: 140px;">
          <div class="progress-area">
            {{#if publishing}}
              <p class="publishing-now">Your Tale is being published to DataONE</p>
            {{/if}}
            <div class ="publish-progressbar">
              {{ember-progress-bar progress=progress options=(hash strokeWidth=3 color=barColor trailColor= "#a5a4a4")}}
              <div class ="publishing-status-message">
                {{statusMessage}}
              </div>
            </div>        
            </div>
            {{#if publishingSuccess}}
                <p>Identifier: {{packageIdentifier}}</p>
                {{log packageURL}}
                <p>Package URL: <a href={{packageURL}} target='_blank'>{{{packageURL}}}</a></p>
            {{/if}}
        </div>
    </div>
    {{/if}}
    {{/ui-accordion}}
    <hr class="publish-hr">

<div class="publisher actions">
    {{!-- Dropdown where the user can select which member node to put the package in --}}
    {{#ui-dropdown class="repository search selection dropdown" allowAdditions=false selected=selectedRepository onChange=(action 'onRepositoryChange')
    as |execute mapper|}}
    <div class="default text">Target Repository</div>
    <i class="dropdown icon"></i>
    <div class="menu">
        {{#each repositories as |type|}}
        <div class="item">
            {{type.name}}
        </div>
        {{/each}}
    </div>
    {{/ui-dropdown}}

    {{#if publishing}}
    {{!-- Button that has a loader on top --}}
        <div class="ui positive blue disabled loading right labeled icon button">
            Publishing
        </div>
    {{else}}
    {{!-- Button that is shown when the user can publish the tale --}}
    <div class="ui positive blue enabled right labeled icon button" {{action "publishClicked"}}>
        Publish Tale
    </div>
    {{/if}}

    <div class="ui deny blue inverted button" {{action 'closeModal'}}>
        Cancel
    </div>

</div>
</div>
{{!-- <div class="ui obsolete modal" style="display: none">
    <i class="close icon"></i>
    <div class="header">
        Publish your Tale.
    </div>
    <div class="image content">
        <div class="description">
            <p>
                We noticed this Tale has already been published. If you publish the Tale again,
                it will obsolete, but not remove the original published Tale. Are you sure you 
                wish to obsolete the already published Tale?
            </p>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button" {{action 'denyDataONE'}}>
            Cancel
        </div>
        <div class="ui positive right labeled icon button" {{action 'startTutorial'}}>
            Publish & Obsolete
            <i class="checkmark icon"></i>
        </div>
    </div>
</div> --}}
