
<div class="ui large breadcrumb">
  {{#each fileBreadCrumbs as |bc|}}
      <a class="section" {{action "breadcrumbClicked" bc}}>{{bc.name}}</a>
      <i class="right chevron icon divider"></i>
  {{/each}}

    <div class="active section">{{currentBreadCrumb.name}}</div>
</div>

<div class="ui collapsable grid" >
    <div class="three wide column" >
        <div class="ui collapsable grid" >
            {{collection-browser list=fileData.collections selectedCollectionID=collectionID action="collectionClicked"}}
        </div>
    </div>
    <div class="thirteen wide column">
        <div class="ui collapsable grid" >
            <div class="sixteen wide column overlay">
                {{nice-dropzone}}
            </div>
            <div class="sixteen wide column">
                {{directory-browser folderList=fileData.folderContents fileList=fileData.itemContents action="itemClicked"}}
            </div>
        </div>
    </div>
</div>
