<div class="left panel content" style="overflow-y: auto;">
    <table class="ui very basic compact striped table">
        <thead>
            <tr style="font-weight: 500;">
                {{#if (and (eq currentNav.command "user_data") notInManagePage)}}
                    <th width="100%" style="font-size: 12px;padding: 10px 0 0 10px">Name</th>
                {{else}}
                    <th width="65%" style="font-size: 12px;padding: 10px 0 0 10px">Name</th>
                    {{!-- <th width="35%" style="font-size: 12px;padding: 10px 0 0 10px">Description</th> --}}
                    <th width="15%" style="font-size: 12px;padding: 10px 0 0 10px;text-align: left;">Size</th>
                    <th width="20%" style="font-size: 12px;padding: 10px 0 0 10px">Last Modified</th>
                {{/if}}
            </tr>
        </thead>
        <tbody>
            {{#if loading}}
                <div class="ui active inverted dimmer">
                    <div class="ui indeterminate medium text loader">Loading, please wait...</div>
                </div>
                <p></p>
            {{/if}}
            {{#each datasetList as |item|}}
                <tr class="left aligned contextmenu" id="{{item.id}}" style={{if (eq item._modelType 'folder') 'height: 45px !important;' ''}}>
                    <td>
                        {{#if (eq item._modelType 'folder')}}
                            {{!-- When clicking a folder, show the contents --}}
                            <span style="cursor:pointer;font-weight:900;" onclick={{action 'clickedFolder' item}}>
                                <i class="large grey folder icon"></i> {{truncate-name item.name 50}}
                            </span>
                        {{/if}}
                        {{#ui-dropdown}}
                            {{!-- When clicking an item, show the dropdown --}}
                            {{#if (eq item._modelType 'item')}}
                                <span style="cursor:pointer;" onclick={{action 'clickedFile' item}}>
                                    {{{file-icon-for item.name}}} {{truncate-name item.name 50}}
                                </span>
                            {{/if}}
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="item" href="{{apiUrl}}/{{item._modelType}}/{{item.id}}/download?contentDisposition=attachment">
                                    <i class="download icon"></i> Download
                                </a>
                                {{#unless (or notInManagePage (lt model._accessLevel 1))}}
                                <a class="item" href="#" {{action "removeDataset" item.id}}>
                                    <i class="trash icon"></i> Remove
                                </a>
                                {{/unless}}
                            </div>
                        {{/ui-dropdown}}
                    </td>
                    {{!-- <td>{{item.description}}</td> --}}
                    <td style="text-align: left;">
                        {{bytes-to-readable item.size}}
                    </td>
                    <td>
                        {{from-now item.updated}}
                    </td>
                </tr>
            {{/each}}
            {{#each sessionList as |item|}}
                <tr class="left aligned contextmenu" id="{{item.id}}">
                    <td colspan="3">
                        {{#ui-dropdown}}
                            {{!-- When clicking an item, show the dropdown --}}
                            {{#if (eq item._modelType "folder")}}
                                <i class="large folder icon"></i> {{item.name}}
                            {{else}}
                                {{{file-icon-for item.name}}} {{item.name}}
                            {{/if}}
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="item" href="{{apiUrl}}/{{item._modelType}}/{{item.id}}/download?contentDisposition=attachment">
                                    <i class="download icon"></i> Download
                                </a>
                            </div>
                        {{/ui-dropdown}}
                    </td>
                </tr>
            {{/each}}
            {{#each folderList as |item|}}
                <tr class="left aligned contextmenu" id="{{item.id}}" style="height: 45px !important;">
                    <td>
                        {{#if (eq renaming item.id)}}
                            <div class="ui form">
                                <div class="inline field">
                                    <i class="large folder icon"></i>
                                    {{input type="text" value=item.name}}
                                    <button class="ui button" {{action "updateModel" item}}>Rename</button>
                                </div>
                            </div>
                        {{else}}
                            <i class="large grey folder icon"> </i>
                            {{#ui-dropdown}}
                                <a href="#" onclick={{action 'clickedFolder' item}} style="font-weight: 900">
                                    {{truncate-name item.name 50}}
                                </a>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    {{!-- Only show if Home folder --}}
                                    {{#if (eq currentNav.command 'home')}}
                                        <a class="item" {{action "move" item}}><i class="folder icon"></i> Move To...</a>
                                    {{/if}}
                                    
                                    {{!-- Only show if Home folder, or if Workspace with write access --}}
                                    {{#if (or (and (eq currentNav.command 'workspace') (gt model._accessLevel 0)) (eq currentNav.command 'home'))}}
                                        <a class="item" {{action "rename" item}}><i class="write square icon"></i>
                                            Rename...</a>
                                        {{!-- <a class="item" {{action "share" item}}><i class="share icon"></i> Share</a>--}}
                                        {{#if (and notInManagePage (eq currentNav.command 'workspace'))}}
                                            <a class="item" {{action "copyToHome" item}}><i class="clone icon"></i> Copy to Home</a>
                                        {{else}}
                                            <a class="item" {{action "copy" item}}><i class="clone icon"></i> Copy</a>
                                        {{/if}}
                                        {{!-- Always show the Remove option for writeable Workspaces--}}
                                        <a class="item" {{action "remove" item}}><i class="trash icon"></i> Remove</a>
                                    {{/if}}
                                    
                                    {{!-- Always show Download option --}}
                                    <a class="item" href="{{apiUrl}}/folder/{{item.id}}/download?contentDisposition=attachment"><i
                                            class="download icon"></i> Download</a>
                                </div>
                            {{/ui-dropdown}}
                        {{/if}}
                    </td>
                    {{!-- <td>{{item.description}}</td> --}}
                    <td style="text-align: left;">
                        {{bytes-to-readable item.size}}
                    </td>
                    <td>
                        {{from-now item.updated}}
                    </td>
                </tr>
            {{/each}}
            {{#each fileList as |item|}}
                <tr class="left aligned contextmenu" id={{item.id}}>
                    <td>
                        {{#if (eq renaming item.id)}}
                            <div class="ui form">
                                <div class="inline field">
                                    {{{file-icon-for item.name}}}
                                    {{input type="text" id="txt-renaming" value=item.name}}
                                    <button class="ui button" {{action "updateModel" item}}>Rename</button>
                                </div>
                            </div>
                        {{else}}
                            {{#ui-dropdown}}
                                <a href="#" {{action "clickedFile" item}}>
                                    {{{file-icon-for item.name}}} {{truncate-name item.name 50}}
                                </a>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    {{#if (eq currentNav.command 'home')}}
                                        <a class="item" {{action "move" item}}><i class="folder icon"></i> Move To...</a>
                                    {{/if}}
                                    {{#if (or (and (eq currentNav.command 'workspace') (gt model._accessLevel 0)) (eq currentNav.command 'home'))}}
                                        <a class="item" {{action "rename" item}}><i class="write square icon"></i>
                                            Rename...</a>
                                        {{!-- <a class="item" {{action "share" item}}><i class="share icon"></i> Share</a> --}}
                                        {{#if (and notInManagePage (eq currentNav.command 'workspace'))}}
                                            <a class="item" {{action "copyToHome" item}}><i class="clone icon"></i> Copy to Home</a>
                                        {{else}}
                                            <a class="item" {{action "copy" item}}><i class="clone icon"></i> Copy</a>
                                        {{/if}}
                                        <a class="item" {{action "remove" item}}><i class="trash icon"></i> Remove</a>
                                    {{/if}}
                                    <a class="item" href="{{apiUrl}}/item/{{item.id}}/download?contentDisposition=attachment"><i
                                            class="download icon"></i> Download</a>
                                </div>
                            {{/ui-dropdown}}
                        {{/if}}
                    </td>
                    {{!-- <td >
                    {{item.description}}
                </td> --}}
                    <td style="text-align: left;">
                        {{bytes-to-readable item.size}}
                    </td>
                    <td>
                        {{from-now item.updated}}
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>

    {{#if showEditor}}
        {{code-editor content=textData fileID=fileIdentifier}}
    {{/if}}

    <div class="ui attached hidden warning message prompt" id="confirm-remove">
        <i class="close icon" {{action "closedPrompt" "#confirm-remove" on="click"}}></i>
        <div class="header">
            Permanently remove {{selectedItem.name}}?
        </div>
        <p>Warning! This action cannot be undone!</p>
        <div class="ui form attached fluid segment">
            <div class="field">
                <label>Type REMOVE into the box below, then click confirm.</label>
                {{input value=confirmValue action=(action "confirmValueEquals" "REMOVE")}}
            </div>
            <div class="ui button {{confirmDisabled}}" {{action "confirmedRemove" on="click"}}>Confirm</div>
        </div>
    </div>

</div>

{{ui/files/destinate-folder-modal disallowed=disallowed currentNavName=currentNav.command fileToMove=fileToMove onMoveFile=(action "moveFile")}}
