<div class="item">
    <div class="ui blurring vertical segment" style="padding: 0; margin: 0;">
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                    <div class="ui left attached mini blue labeled icon button" {{action 'copyToHome' item on='click'}}>
                        <i class="copy icon"></i>
                        Copy To Home
                    </div>
                    <div class="ui right attached mini blue labeled icon button" {{action (route-action 'toRoute' 'folder.view' item) on='click'}}>
                        <i class="unhide icon"></i>
                        View Metadata
                    </div>
                </div>
            </div>
        </div>
        <div class="ui two column grid">
            <div class="one wide column" style="padding: 2px;">
                {{provider-icon-for item.provider 'small'}}
            </div>
            <div class="fifteen wide left aligned column">
                <div class="content" style="padding:10px; font-size: 120%; line-height: 120%;">
                  {{item.creator}} Created {{from-now item.created}} [{{bytes-to-mbytes item.size}} MB]
                    <span style="font-weight: 600">{{truncate-dataname item.name}}</span>
                    <span style="color: #a7a4a9">{{item.identifier}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
