<div class="ui grid">
    <div class="center aligned sixteen wide column">
        <div class="ui pagination mini menu">
            <a class="{{leftButtonState}} item" {{action "leftButtonClicked"}}>
                <i class="caret left icon"></i>
            </a>
          {{#each paginateArray as |paginateItem|}}
              <a class="{{paginateItem.state}} item" {{action "tabClicked" paginateItem.number}}>
                {{paginateItem.number}}
              </a>
          {{/each}}
            <a class="{{rightButtonState}} item" {{action "rightButtonClicked"}}>
                <i class="caret right icon"></i>
            </a>
        </div>
    </div>
</div>
