{{#ui-modal name="harvester" class="small harvester" onApprove=(action 'register') onDeny=(action 'cancel')}}
    <div class="header">Search for Data Sources</div>
    <div class="content">
        <div class="ui basic segment">
            <form class="ui form">
                <div class="inline field">
                    <label>
                        Reference URI
                        <i class="info circle grey icon"></i>
                        <div class="floating ui basic blue label hidden" 
                             style="left:3em !important; top: 3em !important; padding:8px; background: none !important; background-color: transparent !important;"
                             id="info-data-content">The HTTP URL, DOI, or dataId</div>
                    </label>
                    {{input type="text" id="searchbox" value=searchDataId}}
                    <div class="ui inline button" {{action 'search' on='click'}}>Search</div>
                        {{#if config.dev}}
                            <div class="ui checkbox">
                                <input type="checkbox" name="devFlag" onchange={{action "updateDev" value="target.checked"}}>
                                <label>Register from dev.nceas</label>
                            </div>
                        {{/if}}
                </div>
                <div class="info-block">
                    <p style="padding:8px; font-style:italic;">
                        The URL or DOI of the data object. Data packages can be imported into Whole Tale from
                         <a href='https://dataone.org/' target='_blank'>DataONE</a>,
                         <a href='https://dataverse.org/' target='_blank'>Dataverse</a> and select
                         <a href='https://www.globus.org/' target='_blank'>Globus</a> repositories. For a full list of
                          DataONE member nodes, Dataverse instances and supported Globus repositories, visit
                           the <a href='https://wholetale.readthedocs.io/en/stable/users_guide/manage.html#supported-data-repositories' target='_blank'>data registration guide</a>.
                    </p>
                </div>
                {{#if showResults}}
                <div class="ui secondary segment" id="results" style="background-color: white">
                    {{#if (gt num_results -1)}}
                    <p>Found {{num_results}} result(s)</p>
                    {{#unless dataId}}
                    <b>Select one of the datasets found</b>
                    {{/unless}} {{#ui-dropdown id="harvester-dropdown" class="fluid selection" selected=data onChange=(action (mut data))}}
                    <i class="dropdown icon"></i>
                    <div class="default text">Select Data Sources</div>
                    <div class="menu">
                        {{#each datasources as |item|}}
                        <div class="item" data-value="{{item.doi}}">
                            {{item.name}}
                        </div>
                        {{/each}}
                    </div>
                    {{/ui-dropdown}} {{else if searching}}
                    <div class="ui active inline indeterminate tiny loader"></div>
                    Searching Data Providers...
                    <p></p>
                    {{/if}} {{#if error}}
                    <div class="ui negative message">
                        <div class="header"></div>
                        <p>{{errorMessage}}</p>
                    </div>
                    {{/if}}
                </div>
                {{/if}}
                <div class="ui tertiary segment" style="background-color:white">
                    <div class="inline field">
                        <label>Folder Name</label>
                        {{input type="text" classNameBindings="ui fluid" value=name}}
                    </div>
                    <p>DOI:        {{doi}}   </p>
                    <p>DataId:     {{dataId}}</p>
                    <p>Repository: {{repository}}</p>
                    <p>Size:       {{size}}  </p>
                </div>
            </form>
        </div>
    </div>
    <div class="actions">
        <div class="ui deny button">
            Cancel
        </div>
        <div class="ui positive register disabled right labeled icon button">
            Register
            <i class="icon register"></i>
        </div>
    </div>
{{/ui-modal}}
