{{#ui-modal name="harvester" class="small harvester" onApprove=(action 'register') onDeny=(action 'cancel')}}
    <div class="header">Search for Data Sources</div>
    <div class="content">
        <div class="ui basic segment">
            <form class="ui form">
                <div class="inline field">
                    <label>
                        Reference URI
                        <i class="info circle grey icon"></i>
                        <div class="floating ui basic blue label hidden" style="left:1em !important; top: -2em !important; padding:8px;" id="info-data-content">The HTTP URL, DOI, or dataId</div>
                    </label>
                    {{input type="text" id="searchbox" value=searchDataId}}
                    <div class="ui inline button" {{action 'search' on='click'}}>Search</div>
                </div>
                <div class="ui secondary hidden segment" id="results">
                    {{#if (gt num_results -1)}}
                        <p>Found {{num_results}} result(s)</p>
                        {{#unless dataId}}
                            <b>Select one of the datasets found</b>
                        {{/unless}}
                        {{#ui-dropdown id="harvester-dropdown" class="fluid selection" selected=data onChange=(action (mut data))}}
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Data Sources</div>
                        <div class="menu">
                            {{#each datasources as |item|}}
                            <div class="item" data-value="{{item.doi}}">
                                {{item.name}}
                            </div>
                            {{/each}}
                        </div>
                        {{/ui-dropdown}}
                    {{else if searching}}
                        <div class="ui active inline indeterminate tiny loader"></div>Searching DataONE and Globus
                        <p></p>
                    {{/if}}

                    {{#if error}}
                        <div class="ui negative message">
                            <div class="header"></div>
                            <p>{{errorMessage}}</p>
                        </div>
                    {{/if}}

                </div>
                <div class="ui tertiary segment">
                    <div class="inline field">
                        <label>Folder Name</label>
                        {{input type="text" classNameBindings="ui fluid" value=name}}
                    </div>
                    <p>DOI:        {{doi}}   </p>
                    <p>DataId:     {{dataId}}</p>
                    <p>Repository: {{repository}}</p>
                    <p>Size:       {{size}}  </p>
                </div>
            </form>
        </div>
    </div>
    <div class="actions">
        <div class="ui deny button">
            Cancel
        </div>
        <div class="ui positive register disabled right labeled icon button">
            Register
            <i class="icon register"></i>
        </div>
    </div>
{{/ui-modal}}
