<style>
    .ui[class*="top attached"].label, .ui.attached.label {
        padding: 5px!important;
    }

    img {
        display: block;
        max-width:140px;
        max-height:140px;
        width: auto;
        height: auto;
        margin: auto;
    }

</style>
<div class="ui inverted grey segment">

    {{#if showSearch}}
      <div class="ui secondary  menu">
          <div class="right menu">
              <div class="ui search" >
                {{input class="prompt" placeholder="Search..." value=searchStr key-up="searchFilter"}}


              <div class="results">

              </div>
              </div>
          </div>
       </div>
      {{/if}}

    <div class="ui {{cardsPerRow}} doubling selectable cards" style="padding: 5px 20px 5px 20px">

      {{#each modelsInView as |model|}}
            <div class="card">
                <div class="blurring dimmable fluid image" style="min-height: 140px;">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                              {{#link-to modelView model class="ui inverted button"}}View{{/link-to}}
                              {{#if showSelect}}
                                  <div class="ui inverted button" {{action 'select' model}}>Add</div>
                              {{/if}}
                            </div>
                        </div>
                    </div>
                    <img src="{{model.icon}}">
                </div>

                <div class="content" style="color: #515151">
                  {{#ui-popup html=model.name}}
                      {{model.tagName}}
                  {{/ui-popup}}
                </div>
            </div>
      {{/each}}
    </div>

    <div class="ui grid">
        <div class="center aligned sixteen wide column">
            <div class="ui pagination menu">
                <a class="{{leftButtonState}} item" {{action "leftButtonClicked"}}>
                    <i class="caret left icon"></i>
                </a>
              {{#each paginateArray as |paginateItem|}}
                  <a class="{{paginateItem.state}} item" {{action "tabClicked" paginateItem.number}}>
                    {{paginateItem.number}}
                  </a>
              {{/each}}
                <a class="{{rightButtonState}} item" {{action "rightButtonClicked"}}>
                    <i class="caret right icon"></i>
                </a>
            </div>
        </div>
    </div>
</div>