{{!
  @module wholetale
  @submodule components/shape-3d
~}}

{{#ui-shape class="dataList" as |execute|}}
  <div class="ui fluid tiny icon buttons">
      <div class="ui button" title="Flip Up" {{action execute 'flip up'}}>
          <i class="up arrow icon"></i>
      </div>
      <div class="ui button" title="Flip Left" {{action execute 'flip left'}}>
          <i class="left arrow icon"></i>
      </div>
      <div class="ui button " title="Flip Right" {{action execute 'flip right'}}>
          <i class="right arrow icon"></i>
      </div>
      <div class="ui button" title="Flip Down" {{action execute 'flip down'}}>
          <i class="down arrow icon"></i>
      </div>

  </div>

    <div class="sides" style="margin:0">
      {{#each data as |item|}}
          <div class="{{item.active}} skinny side" >
              <div class="ui fluid card">
                  <div class="image" style="margin : 10px;">
                      <img src="/images/{{item.image}}">
                  </div>
                  <div class="content">
                      <div class="header">{{item.name}}</div>
                      <div class="meta">
                          <a>Uses</a>
                      </div>
                      <div class="description">
                        {{item.description}}
                      </div>
                  </div>
                  <div class="extra meta">
                      <span class="right floated">
                        {{item.date}}
                      </span>
                      <span>
                          <i class="user icon"></i>
                        {{item.likes}}
                      </span>

                  </div>
                  <div class="extra content">
                      <div class="ui fluid blue button" {{action "selectCard" item.name}}>
                          <i class="chekmark icon"></i>
                          Select {{item.name}}</div>
                  </div>

              </div>
          </div>
      {{/each}}
    </div>

{{/ui-shape}}

