<div class="catalog">
    <div class="ui fluid top attached tabular menu">
        <a class="active item" data-tab="all">All</a>
        <a class="item" data-tab="mine">Mine</a>
        <a class="item" data-tab="used">Home</a>

        <div class="item">
    {{#ui-popup content="Attach data from external repositories to multiple research environments for analysis. Data can be attached from DataONE and Globus, and other web locations."}}
        <div class="ui blue icon button">
            <i class="info icon"></i>
        </div>
    {{/ui-popup}}
        </div>

    <!--
        <div class="middle text">
        </div>
    -->

        <div class="right item">
                <div class="ui large rounded icon search input">
                <input class="prompt" type="text" placeholder="Search Catalog ...">
                <i class="search icon"></i>
                </div>
                <div class="results"></div>
        </div>
        <div class="item">
            <div class="ui mini green labeled icon button">
                <i class="plus icon"></i>
                Add Data
            </div>
        </div>
    </div>


    {{partial "catalog/sort"}}

    <div class="ui bottom attached active tab segment" data-tab="all" style="min-height: 400px;">
        <div class="ui divided list">
            {{#each catalogItems.all as |item|}}
                {{partial "catalog/item"}}
            {{/each}}
        </div>
        {{partial "catalog/pagination-menu"}}
    </div>
    <div class="ui bottom attached tab segment" data-tab="mine" style="min-height: 400px;">
        <div class="ui divided list">
            {{#each catalogItems.mine as |item|}}
                {{partial "catalog/item"}}
            {{/each}}
        </div>
        {{partial "catalog/pagination-menu"}}
    </div>
    <div class="ui bottom attached tab segment" data-tab="used" style="min-height: 400px;">
        <div class="ui divided list">
            {{#each catalogItems.used as |item|}}
                {{partial "catalog/item"}}
            {{/each}}
        </div>
        {{partial "catalog/pagination-menu"}}
    </div>
</div>