{{#if notificationStream.showNotificationStream}}


  <div id="event-notification-stream">
    <h3 id="event-stream-header" class="ui header">Current Tasks</h3>
    {{#if (eq notificationStream.events.length 0)}}
      <div id="event-notification-placeholder" class="placeholder message">
        <i class="huge check circle icon"></i>
        <p>No new events</p>
      </div>
    {{else}}
      <table class="ui small striped compact single line table nomargin">
        {{#each notificationStream.events as |event index|}}
          {{#unless event.hidden}}
            {{#if (or (eq event.json.type 'wt_progress') (eq event.json.type 'progress'))}}
              <tr class="{{if (eq event.json.data.state 'active') 'active'}}" title="Last update: {{event.updated}}">
                <td width="20%"><label class="ui label">{{event.json.data.title}}</label></td>
                <td width="30%">{{truncate-name event.json.data.resource.tale.title}}</td>
                <td width="40%">
                  {{#if (eq event.json.data.state 'active')}}
                    <div class="ui tiny indicating progress event-progress nomargin">
                      {{#ui-progress progress=event.json.data.current value=event.json.data.current
                          total=event.json.data.total class="teal indicating tiny"}}
                        <div class="bar nomargin"></div>
                        <div class="label">
                          <i class="ui fas fa-fw fa-cog fa-spin icon"></i>
                          {{event.json.data.message}}
                        </div>
                      {{/ui-progress}}
                    </div>
                  {{else if (eq event.json.data.state 'success')}}
                    <i class="ui fas fa-fw fa-check-circle green icon"></i> Success
                  {{else}}
                    <i class="ui fas fa-fw fa-ban red icon"></i> Error{{#if event.json.data.message}}: {{event.json.data.message}}{{/if}}
                  {{/if}}
                </td>
                <td width="10%">
                    <button {{action 'openLogViewerModal' event}} class="ui tiny primary basic right floated button">
                      View Logs
                    </button>
                  {{!--
                    <div class="ui tiny basic icon right floated buttons">
                      <button class="ui tiny secondary basic right floated button">
                        <i class="ui fas fa-fw fa-ellipsis-v icon"></i>
                      </button>
                    </div>--}}
                </td>
              </tr>
              
            {{/if}}
          {{/unless}}
        {{/each}}
      </table>
    {{/if}}
    
    <div class="ui grid nomargin" id="notification-stream-button-bar">
      {{!--<div class="eight wide column">
        <button class="ui basic primary fluid button" id="view-past-events-button" {{action 'viewPastEvents'}}>Past Tasks</button>
      </div>--}}
      <div class="sixteen wide column">
        <button class="ui basic secondary fluid button" id="ack-all-events-button" {{action 'markAllAsRead'}}>Mark All as Read</button>
      </div>
    </div>
  </div>
    
  <div id="log-viewer-modal" class="ui modal">
    <div class="ui icon header">
      <i class="fas icon
      {{if (eq selectedEvent.status 0) 'fa-pause-circle'}}
      {{if (eq selectedEvent.status 1) 'fa-hourglass-half fa-pulse'}}
      {{if (eq selectedEvent.status 2) 'fa-cog fa-spin'}}
      {{if (eq selectedEvent.status 3) 'fa-check'}}
      {{if (eq selectedEvent.status 4) 'fa-ban'}}
      {{if (eq selectedEvent.status 5) 'fa-times'}}"></i>
      Log Viewer
    </div>
    <div class="scrolling content">
      {{#if selectedEventLogs}}
        <pre>{{selectedEventLogs}}</pre>
      {{else}}
        <div class="ui segment" style="min-height:20vh">
          <div class="ui active inverted dimmer">
            <div class="ui text loader">Loading</div>
          </div>
          <p></p>
        </div>
      {{/if}}
    </div>
    <div class="actions">
      <div class="ui button" {{action 'closeLogViewerModal'}}>Done</div>
    </div>
  </div>

{{/if}}
