<style>
    #event-notification-stream {
        position: fixed;
        top:32px;
        left:75vw;
        background: white;
        border: solid black 2px;
        border-radius: 5px;
    }
    .event-icon{
        margin: 15px 12px;
    }
</style>

<div class="ui feed computer tablet only" id="event-notification-stream">
    {{#each events as |event index|}}
      {{#if (gt index 0)}}<hr />{{/if}}
      <div class="event">
        <div class="label">
            {{!-- {{if event.icon event.icon}} --}}
          <i class="fas fa-2x fa-fw event-icon fa-cog fa-spin"></i>
        </div>
        <div class="content">
          <div class="summary">
            <a class="user">
              {{event.data.args}}
            </a> {{event.data.title}}
            <div class="date">
              {{event.data.created}}
            </div>
          </div>
          {{!--<div class="meta">
            <a class="like">
              <i class="like icon"></i> {{event.counter}} Cancels
            </a>
          </div>--}}
        </div>
      </div>
    {{/each}}
    
    <button onclick={{action 'pushGeneratedEvent'}}></button>
</div>
