<div class="droppable" style="height:100vh">
  <table class="ui very basic single line table droppable" style="margin:0;">
      <thead>
      <tr>
          <th>Name</th>
          <th>Created</th>
          <th>Last Modified</th>
          <th>Size</th>
      </tr></thead>
      <tbody>
      {{#each folderList as |item|}}
          <tr class="left aligned contextmenu" id={{item.id}} {{action "openedContextMenu" item on="contextMenu"}}>
              <td>
                  {{#if (eq renaming item.id)}}
                      <form class="ui form">
                          <div class="inline field">
                              <i class="large folder outline icon"></i>
                              {{input type="text" value=item.name}}
                              <button class="ui button" {{action "updateModel" item}}>Rename</button>
                          </div>
                      </form>
                  {{else}}
                      <a href="#" {{action "clickedFolder" item}}>
                          <i class="large folder outline icon"></i> {{item.name}}
                      </a>
                  {{/if}}
              </td>
              <td >
                {{from-now item.created}}
              </td>
              <td >
                {{from-now item.updated}}
              </td>
              <td >
                {{bytes-to-readable item.size}}
              </td>
          </tr>
      {{/each}}
      {{#each fileList as |item|}}
          <tr class="left aligned contextmenu" id={{item.id}} {{action "openedContextMenu" item on="contextMenu"}}>
              <td>
                  {{#if (eq renaming item.id)}}
                      <form class="ui form">
                          <div class="inline field">
                              {{{file-icon-for item.name}}}
                              {{input type="text" value=item.name}}
                              <button class="ui button" {{action "updateModel" item}}>Rename</button>
                          </div>
                      </form>
                  {{else}}
                      <a href="#" {{action "clickedFile" item}}>
                        {{{file-icon-for item.name}}} {{item.name}}
                      </a>
                  {{/if}}
              </td>
              <td >
                {{from-now item.created}}
              </td>
              <td >
                {{from-now item.updated}}
              </td>
              <td >
                {{bytes-to-readable item.size}}
              </td>
          </tr>
      {{/each}}
      </tbody>
  </table>

  {{#if showEditor}}
    {{code-editor content=textData fileID=fileIdentifier}}
  {{/if}}

  {{nice-context-menu
      id="directory-context-menu"
      menuItems=menuItems
      class="hidden"
      onClose=(action "closedContextMenu")
      onClick=(action "clickedContextMenuItem")
  }}

  <div class="ui attached hidden warning message prompt" id="confirm-remove">
    <i class="close icon" {{action "closedPrompt" "#confirm-remove" on="click"}}></i>
    <div class="header">
        Permanently remove {{selectedItem.name}}?
    </div>
    <p>Warning! This action cannot be undone!</p>
    <div class="ui form attached fluid segment">
        <div class="field">
            <label>Type REMOVE into the box below, then click confirm.</label>
            {{input type="text" value=confirmValue action=(action "confirmValueEquals" "REMOVE") on="input"}}
        </div>
        <div class="ui button {{confirmDisabled}}" {{action "confirmedRemove" on="click"}}>Confirm</div>
    </div>
  </div>
</div>
