<!-- app/pods/components/file-tree/template.hbs -->
<div style="padding-left:1em;" class="ui list">
    {{#each tree_node.directory_listing as |file|}}
          <div class="item">
              <div class="content">
              {{#if file.isProvider}}
                    <a class="plain" {{action "expandCollapse" file}}>
                        {{#if file.isVisible}}
                            <i class="small minus icon"></i>
                        {{else}}
                            <i class="small plus icon"></i>
                        {{/if}}
                        <i class="large icon {{file.provider}}"></i>
                    </a>
              {{else if file.isFolder}}
                    <a class="plain" {{action "expandCollapse" file}}>
                        {{#if file.isVisible}}
                            <i class="folder open icon"></i>
                        {{else}}
                            <i class="folder icon"></i>
                        {{/if}}
                    </a>
              {{else}}
                    <i class="file text outline icon"></i>
              {{/if}}
              <a class="plain" {{action 'selectFile' file}}>
                  {{file.name}}
                  {{#if file.isPopulating}}
                        <div class="ui tiny active inline loader"></div>
                  {{/if}}
                  {{#if file.isIncomplete}}
                        <i class="inline small warning sign icon"></i>
                  {{/if}}
              </a>
              {{#if file.isSelected}}
                <span style="display:inline-block;">{{file-actions file=file onRefreshFile=(action 'refreshFile')}}</span>
              {{/if}}
              {{#if file.directory_listing}}
                    {{!-- initially node is collapsed unloaded --}}
                    {{file-tree isVisible=file.isVisible tree_node=file onSelectFile=(action 'onSelectFile')}}
              {{/if}}
            </div>
          </div>
    {{/each}}
</div>
