<div class="wt panel manage">
    <div class="wt paddleboard">
        <h2>
            <img src="/images/wholetale_logo_sm.png" />Current Tale
            <span style="float: right">
                {{#if (and (not-eq model.status 0) (and model.iframe (eq internalState.currentInstanceId model._id)))}}
                    <a href="{{model.url}}" target="_blank">
                        <i class="external alternate icon"></i>
                    </a>
                {{/if}}
            </span>
            <i class="fas fa-expand" style="cursor: pointer;" {{action 'toggleFullscreen'}}></i>
            <a href="https://wholetale.readthedocs.io/users_guide/run.html">
              <i class="fas fa-info-circle right" style="cursor: pointer; padding-right: 0.3em"></i>
            </a>
        </h2>
    </div>
    {{#if (eq internalState.currentInstanceId model._id)}}
      {{#if (not-eq model.status 0)}}
          {{#unless model.iframe}}
              <div class="placeholder message">
                  <p>The compute environment for this Tale must run in a separate browser window.<br/>
                    <a class="ui primary button huge" href="{{model.url}}" target="_blank">Go to new window</a></p>

              </div>
          {{else}}
            <div class="rounded-bottom" style="padding: 0; margin: 0; overflow-y: hidden;">
              <iframe id="frontendDisplay"
                      src="{{model.url}}"
                      style="padding: 0; width:100%; height: inherit;"
                      class="ui basic segment">
              </iframe>
            </div>
          {{/unless}}
      {{else}}
        <div class="placeholder message">
          <p>Creating your new Tale...</p>
        </div>
      {{/if}}
    {{else}}
        <div class="placeholder message">
            <p>Choose from
                <br/>Launched Tales panel
            </p>
        </div>
    {{/if}}

    <div class="ui {{model._id}} modal" style="display: none">
        <i class="close icon"></i>
        <div class="header">
            Really Delete Instance?
        </div>
        <div class="image content">
            <div class="description">
                <p>This will permanently delete the '{{model.name}}' instance. Continue?</p>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button" {{action 'denyDelete'}}>
                No
            </div>
            <div class="ui positive right labeled icon button" {{action 'approveDelete' model}}>
                Yes
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

</div>
