<div class="wt panel manage">
    {{!-- <div class="wt paddleboard">
        <h2>
            <img src="/images/wholetale_logo_sm.png" /> Current Tale
            {{#if hasSelectedTaleInstance}}
                <i class="fas fa-expand right floated" style="cursor: pointer;" {{action 'toggleFullscreen'}}></i>
            {{/if}}
            {{#if (and (not-eq model.status 0) (and model.iframe (eq internalState.currentInstanceId model._id)))}}
                <a href="{{model.url}}" target="_blank">
                    <i class="external alternate right icon" style="cursor: pointer; padding-right: 0.3em; bottom: 4px"></i>
                </a>
            {{/if}}
        </h2>
    </div> --}}
    {{#unless noInstanceSelected}}
        <div class="wt paddleboard tall header">
            <div class="ui bordlerless menu">
                <div class="item">
                    <img class="illustration" src="{{model.tale.illustration}}" />
                    <img class="env" src="{{model.tale.icon}}" />
                    <div class="header name">
                        <h3>{{truncate-name model.name}}</h3>
                        <span>{{model.tale.authors}}</span>
                    </div>
                </div>
                <div class="right borderless menu">
                    {{#if readyToReleaseFeature}}
                        <div class="item">
                            <div class="ui blue icon button">
                                <i class="fas fa-stop"></i> Stop
                            </div>
                        </div>
                        <div class="item">
                            <div class="ui button">
                                Close
                            </div>
                        </div>
                    {{/if}}
                    <div class="item">
                        <a onclick={{action (mut displayTaleInstanceMenu) (not displayTaleInstanceMenu)}}>
                            <i class="fas fa-ellipsis-v clickable"></i>
                        </a>
                    </div>
                    {{#if displayTaleInstanceMenu}}
                        {{#click-outside action=(action (mut displayTaleInstanceMenu) false)}}
                            <div class="tale-instance-menu">
                                <div class="ui vertical left menu transition">
                                    <a class="item" href="https://wholetale.readthedocs.io/en/stable/users_guide/run.html">
                                        Read the docs <div class="ui label transparent"><i class="fas fa-book"></i></div>
                                    </a>
                                    {{#if readyToReleaseFeature}}
                                        <a class="item">
                                            Duplicate Tale <div class="ui label transparent"><i class="fas fa-copy"></i></div>
                                        </a>
                                        <a class="item">
                                            Delete Tale <div class="ui label transparent"><i class="fas fa-trash"></i></div>
                                        </a>
                                        <a class="item">
                                            Rebuild Tale <div class="ui label transparent"><i class="fas fa-cog"></i></div>
                                        </a>
                                        <a class="item" {{action (route-action 'showModal' 'ui/files/publish-modal' publishModalContext )}}>
                                            Publish Tale... <div class="ui label transparent"><i class="fas fa-newspaper"></i></div>
                                        </a>
                                        <a class="item" {{action "editTaleInfo" model._id}}>
                                            Edit Tale Info <div class="ui label transparent"><i class="fas fa-edit"></i></div>
                                        </a>
                                    {{/if}}
                                    <a class="item" onclick={{action 'toggleFullscreen'}}>
                                        View Fullscreen <div class="ui label transparent"><i class="fas fa-expand"></i></div>
                                    </a>
                                </div>
                            </div>
                        {{/click-outside}}
                    {{/if}}
                </div>
            </div>
        </div>
    {{/unless}}
    {{#if hasSelectedTaleInstance}}
        {{ui/tale-tabs-selector model=model  workspaceRootId=workspaceRootId openSelectDataModal=(action 'openSelectDataModal') session=session }}
    {{else}}
        <div class="placeholder message">
            <p>Choose from
                <br />Launched Tales panel
            </p>
        </div>
    {{/if}}

    {{!-- <div class="ui {{model._id}} modal" style="display: none">
        <i class="close icon"></i>
        <div class="header">
            Really Delete Instance?
        </div>
        <div class="image content">
            <div class="description">
                <p>This will permanently delete the '{{model.name}}' instance. Continue?</p>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button" {{action 'denyDelete'}}>
                No
            </div>
            <div class="ui positive right labeled icon button" {{action 'approveDelete' model}}>
                Yes
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div> --}}

    <div class="ui dataone modal" style="display: none">
        <i class="close icon"></i>
        <div class="header">
            Log into DataONE
        </div>
        <div class="image content">
            <div class="description">
                <p>In order to publish your Tale, you must first log into DataONE. Continuing will
                    redirect you to the DataONE login page.
                </p>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button" {{action 'denyDataONE'}}>
                Cancel
            </div>
            <div class="ui positive right labeled icon button" {{action 'authenticateD1' model._id}}>
                Continue to DataOne Login
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</div>

{{ui/select-data-modal updateSessionData=(action "updateSessionData") allSelectedItems=allSelectedItems}}