{{#if isMain}}
  <div class="ui large breadcrumb">
      <a class="section" {{action "navClicked" currentNavTitle}}> {{currentNavTitle}}</a>

      {{#each fileBreadCrumbs as |bc|}}
          <i class="right chevron icon divider"></i>
          <a class="section" {{action "breadcrumbClicked" bc}}>{{truncate-breadcrumb bc.name}}</a>
      {{/each}}

      {{#if currentBreadCrumb.name}}<i class="right chevron icon divider"></i>{{/if}}
      <div class="active section" style="font-weight:bold;">{{truncate-breadcrumb currentBreadCrumb.name}}</div>

  </div>
{{else}}

    <div class="ui grid">
        <div class="one wide column" style="padding: 0 0 0 0; margin: 0px 0 0 0;">
            {{#link-to "upload" class="ui fluid small blue button"}}<i class="left arrow icon"></i> {{/link-to}}
        </div>
        <div class="fifteen wide column" style="padding: 0 0 0 0; margin: 0px 0 0 0;">
            <div class="ui large breadcrumb">
                <a class="section"> {{currentNavTitle}}</a>

                {{#each fileBreadCrumbs as |bc|}}
                    <a class="section" {{action "breadcrumbClicked" bc}}>{{truncate-breadcrumb bc.name}}</a>
                    <i class="right chevron icon divider"></i>
                {{/each}}

                <div class="active section" style="font-weight:bold;">{{truncate-breadcrumb currentBreadCrumb.name}}</div>

            </div>
        </div>
    </div>

{{/if}}

