<i id="add-notify"  class="hidden"  {{action 'toggleNotification' on='click'}}></i>
<div class="ui notifier">

  <div class="ui inverted hidden message" id="notif_0">
    <div class="header">{{notifications.0.header}}</div>
    <p>{{notifications.0.message}}</p>
  </div>

  <div class="ui inverted hidden message" id="notif_1">
    <div class="header">{{notifications.1.header}}</div>
    <p>{{notifications.1.message}}</p>
  </div>

  <div class="ui inverted hidden message" id="notif_2">
    <div class="header">{{notifications.2.header}}</div>
    <p>{{notifications.2.message}}</p>
  </div>

  <div class="ui inverted hidden message" id="notif_3">
    <div class="header">{{notifications.3.header}}</div>
    <p>{{notifications.3.message}}</p>
  </div>

  <div class="ui inverted hidden message" id="notif_4">
    <div class="header">{{notifications.4.header}}</div>
    <p>{{notifications.4.message}}</p>
  </div>

</div>