<div class="ui pushable segment component context">

  {{#if staticMenu}}

    {{partial "common/header-static"}}

      <div style="float: left; margin-top:-2px; width: 160px;">
        {{partial "common/menu-static"}}
      </div>
      <div class="main page" style="overflow:hidden;">
          {{outlet}}
        </div>

  {{else}}
    {{partial "common/menu"}}
      <div class="wholetale view pusher">
        {{partial "common/header"}}
          <div class="main page">
            {{outlet}}
          </div>
      </div>
  {{/if}}

</div>

{{registration-modal}}
