<div class="ui pushable segment component context">

  {{#if staticMenu}}

    {{partial "common/header-static"}}
  <div style="overflow: hidden; height: 100%">
      <div style="float: left; margin-top:-2px; width: 160px;  padding-bottom: 500em;
  margin-bottom: -500em;">
        {{partial "common/menu-static"}}
      </div>
      <div class="main page" style="overflow:hidden;  padding-bottom: 500em;
  margin-bottom: -500em;">
          {{outlet}}
        </div>
  </div>

  {{else}}
    {{partial "common/menu"}}
      <div class="wholetale view pusher">
        {{partial "common/header"}}
          <div class="main page">
            {{outlet}}
          </div>
      </div>
  {{/if}}

  {{partial "common/footer"}}

</div>

{{registration-modal}}
{{event-notifier}}
