
<div class="ui labeled icon menu">
    <a class="item {{registeredActive}}" {{action "registered"}} >
        Imported Data
        <i class="disk outline icon"></i>
    </a>

    <a class="item {{imagesActive}}" {{action "images"}} >
        Images
        <i class="dashboard icon"></i>
    </a>

    <a class="item {{talesActive}}" {{action "tales"}} >
        Published Tales
        <i class="small criss cross icon"></i>
    </a>
</div>

{{#if showRegistered}}
  <div class="ui segment" >
    {{wt-flix models=model.dataRegistered paginateOn=18 cardsPerRow="six" modelView="folder.view" showSearch=true showLink=true}}
  </div>
{{/if}}

{{#if showImages}}
  <div class="ui segment" >
    {{wt-flix models=model.images paginateOn=18 cardsPerRow="six" modelView="image.view" showSearch=true showLink=true}}
  </div>
{{/if}}


{{#if showTales}}
  <div class="ui segment">
    {{wt-flix models=model.tales paginateOn=18 cardsPerRow="six" modelView="tale.view" showSearch=true showLink=true}}
  </div>
{{/if}}





