
<div class="ui raised fluid fish segment">
  <div class="ui stackable two column grid" style="margin:0; padding:10px">
      <div class="column" style="margin:0; padding:0">
        {{info-box color="white" icon="file" title="CONTRIBUTED DATASETS" value="77" }}
      </div>

      <div class="column" style="margin:0; padding:0">
        {{info-box color="white" icon="file" title="ACCESSED DATASETS" value="77" }}
      </div>


  </div>
    <div class="ui stackable two column grid" style="margin:0; padding:10px">
        <div class="column" style="margin:0; padding:0">
          {{info-box color="white" icon="disk outline" title="STORAGE" value="100MB" }}
        </div>
        <div class="column" style="margin:0; padding:0">
          {{info-box color="white" icon="desktop" title="COMPUTE" value="24%" }}
        </div>
  </div>
    <div class="ui stackable three column grid" style="margin:0; padding:10px">
        <div class="column" style="margin:0; padding:0">
          {{info-box color="white" icon="disk outline" title="FRONTENDS" value="8" }}
        </div>

        <div class="column" style="margin:0; padding:0">
          {{info-box color="white" icon="disk outline" title="DRIVES" value="8" }}
        </div>
        <div class="column" style="margin:0; padding:0">
          {{info-box color="white" icon="book" title="RESEARCH PRODUCTS" value="3" }}
        </div>
    </div>
</div>

<!--<div class="ui horizontal divider"></div>-->

<!--
<div class="ui three column grid">
    <div class="column">
      {{big-button  color="blue" icon="search" title="Search" action="gotoSearch" img="images/search.jpg"}}
    </div>

    <div class="column">
      {{big-button  color="blue" icon="disk outline" title="Your Drives" action="gotoDrives" img="images/drives.png"}}
    </div>

    <div class="column">
      {{big-button  color="blue" icon="book" title="Research Products" action="gotoPublish" img="images/research.png" }}
    </div>
</div>
-->
