{{!
  @module wholetale
  @submodule big-button
~}}

<div class="ui fluid segment">

    <div class="ui large {{color}} header" {{action "gotoPage"}} style="text-align: center;">
      {{title}}
    </div>

    <div class="ui fluid image">
        <img src="{{img}}" style="height: 300px" height="300">
    </div>

    <div class="ui bottom attached {{color}} button" {{action "gotoPage"}}>
        <i class="{{icon}} icon"></i>
        Launch
    </div>

</div>


